<div id="signin-page">
    <form (ngSubmit)="f.form.valid && login()" #f="ngForm" *ngIf="session === null">
        <div>
            <label for="username">Username</label>
            <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" style="color: red">Username is required</div>
        </div>
        <br>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" style="color: red">Password is required</div>
        </div>
        <br>
        <button>Login</button>
    </form>
    <div *ngIf="session !== null">
        <h2>Hello {{user}}</h2>
    </div>
</div>