#app-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
}

.header {
    background-color: #d3d3d3;
    height: calc(3vw + 60px);
    position: absolute;
    top: 0;
    width: 100%;
    font-size: calc(0.5vw + 12px);
    padding-left: 5%;
}

#user-button {
    color: black;
    position: absolute;
    right: 10%;
    top: 39%;
    cursor: pointer;
}

#user-button:hover {
    opacity: 0.5;
}

#logo {
    cursor: pointer;
    z-index: 99;
    width: 50%;
}

#logo:hover {
    opacity: 0.5;
}